{% load show_results %}

<html>
<head>
	<title>List of available books</title>
</head>
<body>
	<h1>Here below the newest available books:</h1>
	<ul>
		{% for b in list_of_books %}
			<li><a href="{{ b.id }}">{{ b.title }}</a></li>
		{% endfor %}
	</ul>
	{% if is_paginated %} 
		<div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
	{% endif %}
			{% comment %}	
			{% show_books_for_author "ww" %}
			{% endcomment %}
</body>
</html>